/* Start Variable */
:root {
  --black-color: #171c21;
  --low-priority: #0072f5;
  --medium-priority: #ffae00;
  --high-priority: #ff2424;
  --sec-color: #eef2f6;
}

/* End Variable */
/* Start Global Style */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--primary-color);
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section h2 {
  font-weight: bolder;
}

/* End Global Style */
/* start header  */
.header {
  padding: 12px 20px;
  width: 100%;
  background-color: var(--black-color);
  display: none !important;
}

#toggle-bar {
  color: var(--black-color);
  padding: 2px 6px;
  background-color: var(--sec-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .header {
    display: flex !important;
  }
}

/* end header */
/* Start aside Style  */
aside {
  width: 300px;
  background-color: var(--sec-color, #eef2f6);
  height: 100vh;
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 25px 20px;
  transition-property: left;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

@media (max-width: 767px) {
  .side {
    left: -300px;
  }
}

.show-side {
  left: 0px;
}

aside h1 {
  text-transform: uppercase;
  font-weight: 900;
}

aside .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.scale-action {
  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
}

.scale-action:hover {
  transform: scale(1.3);
}

aside ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

aside ul li {
  width: 100%;
}

aside ul li a {
  width: 100%;
  text-transform: capitalize;
  padding: 5px 5px;
  border-radius: 5px;
}

aside ul li a {
  color: var(--black-color);
  display: inline-block;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

aside ul li a.active {
  background-color: var(--black-color);
  color: #fff;
}

aside ul li a:hover:not(a.active) {
  background-color: #171c2188;
  color: #fff;
}

.projects-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-title h2 {
  font-size: 20px;
  font-weight: bold;
}

.add-project {
  cursor: pointer;
}


#my-projects ul li a {
  position: relative;
}

#delete-project-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  z-index: 1;
}

aside footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Display Mode Toggler */
/* Light Mode */
#display-mode {
  padding: 45px 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  border-radius: 20px;
  gap: 1rem;
}

#display-mode svg {
  font-size: 24px;
}

#display-mode .light-mode {
  color: var(--medium-priority);
}

#display-mode .dark-mode {
  color: var(--black-color);
}

#display-mode .ball {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  left: 12px;
  transition: 0.4s;
  background-color: var(--black-color);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
  z-index: -1;
}

body.display-dark #display-mode .ball {
  left: 50px;
  background-color: var(--medium-priority);
}

/* End Mode Toggler */
@media (max-width: 767px) {
  aside {
    height: calc(100vh - 52px) !important;
    position: fixed;
    top: 52px;
    left: -0px;
  }
}

/* End aside Style  */

/* tasks style  */
.task {
  margin-top: 6px !important;
}

.add-task button {
  border: none;
  outline: none;
  background-color: var(--black-color);
  color: #fff;
  font-size: 15px;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  padding:  10px;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.add-task button:hover {
  background-color: #171c21cc;
}

/* Custom my accordion */
.my-accordion .task {
  display: flex;
  background-color: var(--sec-color);
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
}

.my-accordion .task::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
}

.my-accordion .task.high-priority::before {
  background-color: var(--high-priority);
}

.my-accordion .task.medium-priority::before {
  background-color: var(--medium-priority);
}

.my-accordion .task.low-priority::before {
  background-color: var(--low-priority);
}

.my-accordion .content-box {
  position: relative;
  margin: 10px 0 !important;
}

.my-accordion .content-box .label {
  position: relative;
  color: var(--black-color);
  cursor: pointer;
}

.my-accordion .content-box .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -23px;
  font-size: 1.3rem;
}

.my-accordion .content-box.active .label::before {
  content: '-';
}

.my-accordion .content-box .content {
  position: relative;
  background-color: var(--sec-color);
  height: 0;
  overflow: hidden;
  overflow-y: auto;
}

.my-accordion .content-box.active .content {
  height: fit-content;
  padding: 10px;
  border-top: 1px solid var(--black-color);
}

.my-accordion .content-box .content p {
  font-size: 14px;
}

.my-accordion .content-box .content #end-date.time-limit {
  color: var(--high-priority);
}

.my-accordion .content-box .task-actions {
  display: flex;
  gap: 0.9rem;
}

.my-accordion .content-box .task-actions svg {
  font-size: 16px;
  color: #5a636d;
  cursor: pointer;
}

.complete-tasks .task-header {
  text-decoration: line-through;
}

/* end tasks style  */

/* add task modal */
.my-modal {
  display: flex;
  /* display: none; */
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(0,0,0,0.7);
  transition: 0.3s;
  transform: scale(0);
}
.scale {
  transform: scale(1);
}
.my-modal-content {
  background-color: #fff;
  width: 400px;
  border-radius: 5px;
}
.my-modal-content header {
  background-color: var(--black-color);
  color: #fff;
}
.my-modal-content header h3 {
  font-size: 18px;
  font-weight: bold;
}
.close-task-form {
  cursor: pointer;
  color: var(--high-priority);
  transition: 0.2s;
}
.close-task-form:hover {
  color: #ff242488;
}

.my-modal-content form .form-group label {
  font-weight: bold;
  font-size: 17px;
  position: relative;
  width: fit-content;
  margin-bottom: 2px !important;
}
label[for="task-name"]::after {
  content: '*';
  color: var(--high-priority);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -7px;
}
.my-modal-content input,
.my-modal-content textarea {
  border: 1px solid #bbb;
  outline: none;
  border-radius: 5px;
  width: 100%;
  padding: 8px;
  font-size: 15px;
}
.my-modal-content p.title-err {
  color: var(--high-priority);
  font-size: 11px;
  font-weight: bold;
  margin-top: 3px !important;
}

.my-modal-content textarea {
  height: 140px;
}
label[for="select-priority"] {
  position: relative;
}
label[for="select-priority"]::after {
  content: '';
  position: absolute;
  right: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
label[data-color="low"]::after {
  background-color: var(--low-priority);
}
label[data-color="medium"]::after {
  background-color: var(--medium-priority);
}
label[data-color="high"]::after {
  background-color: var(--high-priority);
}


.my-modal-content select,
.my-modal-content input[type="date"] {
  outline: none;
  width: 100%;
  font-size: 14px;
  padding: 8px 5px;
  border: 1px solid #b6bdc8;
  border-radius: 5px;
  transition: 0.3s;
  cursor: pointer;
}
.my-modal-content select option {
  font-size: 14px;
}
.my-modal-content select:hover,
.my-modal-content input[type="date"]:hover {
  background-color: #f5f8ff;
}

.my-modal-content .form-group button[type="submit"] {
  border: none;
  outline: none;
  background-color: var(--black-color);
  color: #fff;
  width: 100%;
  padding: 8px 6px;
  border-radius: 5px;
  font-weight: bold;
  transition: 0.2s;
}
.my-modal-content .form-group button[type="submit"]:hover {
  background-color: #171c21dd;
}
/* end add task modal */