/* Start Variable */
:root {
  --black-color: #171c21;
  --low-priority: #0072f5;
  --medium-priority: #ffae00;
  --high-priority: #ff2424;
  --sec-color: #eef2f6;
}

/* End Variable */
/* Start Global Style */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--primary-color);
  margin: 0 !important;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  max-height: 100vh;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

section h2 {
  font-weight: bolder;
}

/* End Global Style */
/* start header  */
.header {
  padding: 5px 12px;
  width: 100%;
  background-color: var(--black-color);
  display: none !important;
}

#toggle-bar {
  color: var(--black-color);
  padding: 2px 6px;
  font-size: 13px;
  background-color: var(--sec-color);
  cursor: pointer;
}

@media (max-width: 767px) {
  .header {
    display: flex !important;
  }
}

/* end header */
/* Start aside Style  */
aside {
  width: 210px;
  background-color: var(--sec-color, #eef2f6);
  height: 100vh;
  position: sticky;
  z-index: 1;
  left: 0;
  top: 0;
  padding: 25px 20px;
  transition-property: left;
  transition-duration: 0.4s;
  transition-timing-function: linear;
}

.show-side {
  left: -210px;
}

aside h1 {
  text-transform: uppercase;
  font-weight: 900;
}

aside .logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}


.scale-action {
  transition-duration: 0.4s;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
  cursor: pointer;
}

.scale-action:hover {
  transform: scale(1.3);
}

aside ul {
  display: flex;
  flex-direction: column;
}

aside ul li {
  width: 100%;
}

aside ul li a {
  width: 100%;
  text-transform: capitalize;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 12px;
}

aside ul li a {
  color: var(--black-color);
  display: inline-block;
  transition-timing-function: cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

aside ul li a.active {
  background-color: var(--black-color);
  color: #fff;
}

aside ul li a:hover:not(a.active) {
  background-color: #171c2188;
  color: #fff;
}

.projects-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.projects-title h2 {
  font-size: 13px;
  font-weight: bold;
}

.add-project {
  cursor: pointer;
}


#my-projects ul li a {
  position: relative;
}

#delete-project-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  z-index: 1;
}

aside footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* Display Mode Toggler */
/* Light Mode */
#display-mode {
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
  height: 40px;
  border-radius: 20px;
}

#display-mode svg {
  font-size: 18px;
}

#display-mode .light-mode {
  color: var(--medium-priority);
}

#display-mode .dark-mode {
  color: var(--black-color);
}

#display-mode .ball {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 14px;
  transition: 0.4s;
  background-color: var(--black-color);
  top: 50%;
  transform: translateY(-50%);
  transition: 0.4s;
  z-index: -1;
}

body.display-dark #display-mode .ball {
  left: 44px;
  background-color: var(--medium-priority);
}

/* End Mode Toggler */
@media (max-width: 767px) {
  aside {
    height: calc(100vh - 33.5px) !important;
    position: fixed;
    top: 33.5px;
    left: -0;
  }
}

/* End aside Style  */

/* tasks style  */
.task {
  margin-top: 6px !important;
}

.add-task button {
  border: none;
  outline: none;
  background-color: var(--black-color);
  color: #fff;
  font-size: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  align-items: center;
  padding: 7px 10px;
  font-weight: bold;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.add-task button:hover {
  background-color: #171c21cc;
}

.add-task button svg {
  font-size: 13px;
}

/* Custom my accordion */
.my-accordion {}

.my-accordion .task {
  display: flex;
  background-color: var(--sec-color);
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  overflow-x: hidden;
}

.my-accordion .task::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 100%;
}

.my-accordion .task.high-priority::before {
  background-color: var(--high-priority);
}

.my-accordion .task.medium-priority::before {
  background-color: var(--medium-priority);
}

.my-accordion .task.low-priority::before {
  background-color: var(--low-priority);
}

.my-accordion .content-box {
  position: relative;
  margin: 10px 0 !important;
}

.my-accordion .content-box .label {
  position: relative;
  color: var(--black-color);
  cursor: pointer;
}

.my-accordion .content-box .label::before {
  content: '+';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -23px;
  font-size: 1.3rem;
}

.my-accordion .content-box.active .label::before {
  content: '-';
}

.my-accordion .content-box .content {
  position: relative;
  background-color: var(--sec-color);
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  transition: 0.1s;
}

.my-accordion .content-box.active .content {
  height: fit-content;
  padding: 10px;
  border-top: 1px solid var(--black-color);
}

.my-accordion .content-box .content p {
  font-size: 11px;
}

.my-accordion .content-box .content #end-date.time-limit {
  color: var(--high-priority);
}

.my-accordion .content-box .task-actions {
  display: flex;
  gap: 0.4rem;
}

.my-accordion .content-box .task-actions svg {
  font-size: 10px;
  color: #5a636d;
  cursor: pointer;
}

/* end tasks style  */